/* --- fonts ----*/
@font-face {
font-family: 'Adumu';
src: local('Adumu'), url('./fonts/adumu/Adumu.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

body {
background-color: #fff;
background-image:
linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px),
linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
linear-gradient(rgba(0, 0, 0, 0.02) 2px, transparent 2px),
linear-gradient(90deg, rgba(0, 0, 0, 0.02) 2px, transparent 2px);
background-size: 20px 20px, 20px 20px, 1px 1px, 1px 1px;
}

div.date {
font-family: 'Adumu', sans-serif;
display: inline-block;
padding: 10px 20px;
border: 2px solid black;
border-radius: 30px;
font-size: 16px;
background-color: white;
margin-bottom: 40px;
margin-left: 10px;
}

button.home-rounded-button {
background-color: #ffffff;
color: black;
text-decoration: none;
border: 2px solid black;
border-radius: 30px;
cursor: pointer;
font-size: 16px;
font-family: 'Adumu', sans-serif;
transition: background-color 0.3s;
margin: 10px;
padding: 10px 20px;
transition: background-color 0.3s ease;
}
.home-rounded-button:hover {
background-color: rgb(167, 141, 194);
}

/* div.title-and-button-container {
position: relative;
} */

/* div.title-container {
text-align: center;
transform: translateY(80%);
} */

.title {
font-family: 'Adumu', sans-serif;
color: rgb(167, 141, 194);
font-size: 50px;
-webkit-text-stroke: .75px black;
text-stroke: .75px black;
}

.title span {
display: block;
}  

/* .button-container {
display: flex;
justify-content: center;
align-items: center;
height: 100%;
position: relative;
} */

.rounded-button {
/* display: inline-block; */
/* margin: auto; */
padding: 10px 20px;
border-radius: 30px;
border: 2px solid black;
background-color: white;
cursor: pointer;
font-size: 16px;
font-family: 'Adumu', sans-serif;
color: black;
text-decoration: none;
transition: background-color 0.3s ease;

}

.rounded-button:hover {
background-color: rgb(167, 141, 194);
}

/* .rounded-button:nth-child(1) {
transform: rotate(60deg) translateY(-220px) rotate(-60deg); 
}

.rounded-button:nth-child(2) {
transform: rotate(0deg) translateY(-220px) rotate(0deg); 
}

.rounded-button:nth-child(3) {
transform: rotate(-60deg) translateY(-220px) rotate(60deg); 
}

.rounded-button:nth-child(4) {
transform: rotate(-120deg) translateY(-220px) rotate(120deg); 
}

.rounded-button:nth-child(5) {
transform: rotate(-180deg) translateY(-220px) rotate(180deg); 
}

.rounded-button:nth-child(6) {
transform: rotate(-240deg) translateY(-220px) rotate(240deg); 
} */
/* -------homework description alerts ---------- */

/* .homework-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
  }
   */
  .assignment-container {
    width: 200px; /* Set a fixed width for each assignment */
    padding: 5px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 15px; /* Adjust border-radius for rounded corners */
    background-color: white;
    text-align: left;
  }
  
  
  .assignment-container h3 {
    font-size: 11px;
    margin-bottom: 0px;
  }
  .assignment-container p {
    margin: 0px;
    font-size: 10px;
  }
 /* -------homework description alerts ---------- */
