/* --- fonts ----*/
@font-face {
  font-family: 'Adumu';
  src: local('Adumu'), url('./fonts/adumu/Adumu.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }
  
body {
  background-color: #fff;
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px),
  linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
  linear-gradient(rgba(0, 0, 0, 0.02) 2px, transparent 2px),
  linear-gradient(90deg, rgba(0, 0, 0, 0.02) 2px, transparent 2px);
  background-size: 20px 20px, 20px 20px, 1px 1px, 1px 1px;
  }
/* --- calendar ----*/
.clickable-date {
  position: relative; /* Set position to relative */

}


button.date {
  font-family: 'Adumu', sans-serif;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 20px;
  font-size: 16px;
  background-color: white;
  margin-bottom: 40px;
  margin-left: 10px;
  cursor: pointer;
}

.outer-calendar-container {
  display: flex;
  flex-direction: column; /* Change to column layout */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  width: 1600px;
  margin: 5px auto;
}

.calendar-container {
 background-color: #eff4f7;
 width: 100%;
}

.rbc-header {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px !important;
  background:rgb(167, 141, 194);
}

.rbc-allday-cell {
  display: none;
}

.rbc-time-header-cell .rbc-today {
  background-color: #d0b8ee !important;
}

.rbc-time-slot {
  color: #000000;
  
}

.rbc-time-slot:not(.rbc-today .rbc-time-slot) {
  background-color: #ffffff;
}

.rbc-event,
.rbc-background-event {
  padding: 0px !important;
  border: none !important;
}

.rbc-event-label {
  display: none !important;
}

.rbc-events-container {
  width: 100% !important;
}

.rbc-day-slot .rbc-time-slot:after {
  content: "";
  width: 100%;
  border-top: 1px solid #aba6b6;
  display: block;
}

.rbc-time-content .rbc-event {
  text-align: center;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  font-size: 11px;
  background-color: rgb(108, 80, 168); /* Change this to your desired color */
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-input-container {
  margin-left: 20px;
}


.delete-button-container {
  margin-left: 20px;
}


.custom-date-arrow button {
  margin-right: 20px;
}

.day-or-week-button button {
  margin-right: 20px;
}

button.today{
  margin-right: 20px;
}

.date-text {
  margin-right: 50px;
  margin-left: 50px;
}
.custom-date-picker {
  position: relative;
  border: #000000 solid 2px;
  cursor: pointer;
  border-radius: 20px;
  text-align: center;
}
.custom-text-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.react-datepicker__input-container {
  opacity: 0;
}


  /* --- calendar ----*/
  
  button.home-rounded-button {
  background-color: #ffffff;
  color: black;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Adumu', sans-serif;
  transition: background-color 0.3s;
  margin: 10px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  }
  
 button:hover {
  background-color: rgb(167, 141, 194);
  }
  
  
  .outer-title-container {
    margin-top: 260px; /* Adjust as needed */
  }
  
  .title-container {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -10%);
  }
  
  .title {
    font-family: 'Adumu', sans-serif;
    color: rgb(167, 141, 194);
    font-size: 50px;
    -webkit-text-stroke: .75px black;
  }
  
  .title span {
    display: block;
  }
  
  .rounded-button {
    padding: 10px 10px;
    border-radius: 20px;
    border: 2px solid black;
    background-color: white;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Adumu', sans-serif;
    color: black;
    text-decoration: none;
    transition: background-color 0.3s ease;
    text-align: center;
  }
  
  .rounded-button:hover {
    background-color: rgb(167, 141, 194);
  }
  
  
  .homework-container {
    display: flex;
    justify-content: center;
  }
  
    
  .assignment-container {
    width: 220px; /* Set a fixed width for each assignment */
    padding: 2px;
    border: 2px solid black;
    border-radius: 20px; /* Adjust border-radius for rounded corners */
    background-color: white;
    position: absolute; /* Position each assignment container absolutely */
    display: flex; /* Use flexbox to align items */
    flex-direction: column; /* Stack children vertically */
  }
  
  .assignment-container:nth-child(1) {
    transform: rotate(60deg) translateY(-320px) rotate(-60deg); 
  }
  
  .assignment-container:nth-child(2) {
    transform: rotate(120deg) translateY(-320px) rotate(-120deg); 
  }
  
  .assignment-container:nth-child(3) {
    transform: rotate(180deg) translateY(-280px) rotate(-180deg); 
  }
  
  .assignment-container:nth-child(4) {
    transform: rotate(240deg) translateY(-320px) rotate(-240deg); 
  }
  
  .assignment-container:nth-child(5) {
    transform: rotate(300deg) translateY(-320px) rotate(-300deg); 
  }
  
  .assignment-container:nth-child(6) {
    transform: rotate(360deg) translateY(-280px) rotate(-360deg); 
  }
  
  
  /* -----assignment message----- */
  
  .assignment-container ul {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
  }
  
  .assignment-container li.assignment-message {
    margin: 10px 0;
    font-size: 12px;
    cursor: pointer;
  }
  .assignment-container li.assignment-message.late {
    margin: 10px 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
  }

  .no-assignments-message{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 14px;
  }
  
  /* -------floating div ------- */
  
  
  .floating-div {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -10%);
    width: 250px; /* Set a fixed width for the floating div */
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px; /* Adjust border-radius for rounded corners */
    background-color: rgb(237, 251, 152);
    text-align: left;
  }
  
  .floating-div.late {
    background-color: rgb(255, 135, 122); /* Red background color for late assignments */
  }
  
  .floating-div h3 {
    font-size: 17px;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  
  .floating-div p {
    font-size: 14px;
    margin-top: 20px;
  }
  
  /* -----assignment scoreboard ---- */
  .assignment-scoreboard {
    font-family: 'Adumu', sans-serif;
    padding-left: 11px;
    position: absolute;
    top: 40px;
    display: flex; /* Set display to flex */
    flex-direction: column; /* Arrange children in a column */
    align-items: flex-start; 
  }
  
  div.due-date {
    font-family: 'Adumu', sans-serif;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 16px;
    background-color: white;
    margin-bottom: 20px;
    }
  
    /* -----login page----- */
    
    .login {
      position: absolute;
      display: flex;
      top: 300px;
      right: 420px;
    }
    
    .login-head {
      font-family: 'Adumu', sans-serif;
      font-size: 24px;
      text-transform: uppercase;
      margin: 10px;
    }

    .login-input {
      width: 50%;
      padding: 8px 10px;
      margin: 10px 20px;
      box-sizing: border-box;
    }

    .login-button {
      position: relative;
      background-color: white;
      border: 2px solid black;
      border-radius: 20px;
      padding: 5px 10px;
      margin: 5px;
      font-family: 'Adumu', sans-serif;
      text-transform: uppercase;
    }

    .register-option {
      font-size: 14px;
    }
  
    /* -----registration page----- */
  
    .regi-title {
      font-size: 24px;
      font-family: 'Adumu', sans-serif;
      text-transform: uppercase;
    }
    .regi-outer {
      position: absolute;
      display: block;
      top: 100px;
      right: 500px;
      align-items: center;
    }

    .registration-form {
      list-style: none;
    }

    .regi-input {
      width: 50%;
      padding: 8px 10px;
      margin: 10px 20px;
      box-sizing: border-box;
    }

    .register-button {
      position: relative;
      background-color: white;
      border: 2px solid black;
      border-radius: 20px;
      padding: 5px 10px;
      margin: 5px;
      font-family: 'Adumu', sans-serif;
      text-transform: uppercase;
    }

   /* -----dashboard greeting pencil----- */

.greeting-container {
  position: absolute;
  top: 5px;
  right: 50px;
  display: flex;
  align-items: center;
}

.greeting-text {
  font-family: 'Adumu', sans-serif;
  font-size: 16px;
  margin-right: 10px;
}

.pencil-icon {
  width: 175px;
  height: 175px;
}
   /* -----corner icons----- */

  .bulb-icon,
  .star-icon,
  .magnify-icon,
  .arrow-icon {
    width: 100px;
    height: 100px;
    position: absolute;
  }
  
  .bulb-icon {
    top: 350px;
    left: 20px;
  
  }
  
  .star-icon {
    top: 5px;
    left:260px;

  }
  
  .magnify-icon {
    bottom: 20px;
    right: 20px;

  }
  
  .arrow-icon {
    bottom: 20px;
    left: 20px; 
  }

     /* -----logout button----- */
  
  .logout {
    position: absolute;
    top: 220px;
    right: 50px;
    display: flex;
    align-items: center;
  }

  .logout-button {
    border: 2px solid black;
    background-color: white;
    border-radius: 20px;
    padding: 8px 15px;
    font-family: 'Adumu', sans-serif;
  }

  .logout-button:hover {
    background-color: black;
    color: white;
  }

  /* -----subject component----- */
  
  .container {
    padding-left: 20px; /* Adjust this value to move the text to the right */
  }

  .subject-title-container {
    margin-bottom: 50px; /* Adjust this value to move the text to the right */
    font-family: 'Adumu', sans-serif;
  }
  .subject-title-container p {
    margin-left: 10px; /* Adjust this value to move the text to the right */
  }
  
  .header-container th {
    padding: 10px; /* Adjust padding as needed */
    background-color: rgb(167, 141, 194);
  }
  .center-cell {
    padding-left: 50px;
  }
  
  table, th, td {
    border: 1px solid;
  }

  .table-cell {
    padding: 20px; /* Adjust padding as needed */
    
  }

  .homework-image{
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }

  .homework-submit {
    position: relative;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 5px;
    font-family: 'Adumu', sans-serif;
  }